# Ambientes virtuais

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Variáveis de ambiente

.env.*
*.env

# Django

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Migrations (opcional - cuidado em produção)

**/migrations/*
!**/migrations/**init**.py

# Testes / coverage

htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/

